body{
    background-color: black;
}
  
/* الاوليه للاكبر */
.main .sale .ceal p{
    color: brown;
    font-size: 60px;
}
.sale .ceal p{
    color: blue;
    font-size: 50px;
}
.ptag{
    color:chartreuse;
    font-size: 40px;
}
/* اذا عندي رابط واحد بالملف الاساسي هون عندي ثنين بوخذ الي تحت */
a{
    color: brown;
    font-size: 50px;
}
a{
    color:magenta;
    font-size: 8em;
}
h1{
color: chartreuse;
font-size: 800%;
}
h2{
color:rgb(141, 43, 7);
font-size: 8rem;
}
h3{
    color: hsl(60, 69%, 19%);
}
