#grid{
display: grid;
grid-template-areas: 'navbar navbar navbar'
                      'lmenu main rmenu'
                      'footer footer footer';

}

*{
padding: 0px;
margin: 0px;
box-sizing: border-box;

}
#nav{
width: 100%;
height: 150px;
background-color: rgb(105, 0, 0);
grid-area: navbar;
display: flex;

}


#leftmenu{
    width: 100%;
height: 100%;
background-color: rgb(38, 10, 65);
grid-area: lmenu;

}
#main{
 width: 100%;
    height: 800px;
    background-color: rgb(112, 73, 0);
       grid-area: main;
}
#rightmenu{
     width: 100%;
height: 100%;
background-color: rgb(38, 10, 65);
grid-area: rmenu;


}
#footer{
    width: 100%;
height: 150px;
background-color: rgb(8, 8, 71);
grid-area: footer;

}
h1{
    text-align: center;
    font-family:monospace;
    color: lightgrey;
    
}