
body{
    background-color: rgb(255, 255, 255);
}
#navigatbar{
    background-color: rgb(96, 139, 139);
    display: flex;
   width: 100%;
   top: 0px;
    justify-content: space-between;
    align-items: center;
   
}
#imgg{

    border-radius: 100px;
    padding: 10px;
    margin-left: 50px;
    color: rgb(214, 147, 58);


}
#navigatbar h1{
    font-size: 50px;

}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#footer{
    background-color:hsl(0, 2%, 48%);
    /* position: fixed; */
    width: 100%;
    /* bottom: 0px; */
    padding: 20px;
    height: 120px;
}
#ptag p{
    font-size: 30px;
    display: flex;
   margin-left: 90%;
}
.bbb{
display: grid;
grid-template-columns: auto auto auto;
background-color: rgb(255, 255, 255);
gap: 10px;
margin-left: 5px;
margin-right: 5px;

margin: 50px;
}
.gridItem{
 margin-left: 50px;
margin-right: 50px;
text-align: center;
color: burlywood;
background-color: black;
padding: 5px;
margin: 50px;
border-radius: 20px;

}
.imgn{
    border-radius: 150px;
}
@media screen and (max-width:600px){
    body{
        background-color: rgb(255, 0, 0);
    }
 #navigatbar{
    background-color: rgb(96, 139, 139);
    display: flex;
   width: 100%;
   top: 0px;
    justify-content: space-between;
    align-items: center;
   
}
    .bbb{
display: grid;
grid-template-columns: auto auto;
background-color: rgb(255, 0, 0);
gap: 10px;
margin-left: 5px;
margin-right: 5px;

margin: 50px;
}
}
@media screen and (max-width:900px){
    body{
        background-color: rgb(29, 175, 175);
    
    }
    *{
        padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    }
 #navigatbar{
    background-color: rgb(96, 139, 139);
    display: flex;
   width: 100%;
   top: 0px;
    justify-content: space-between;
    align-items: center;
   
}
#navigatbar h1{
    font-size:10px;
    margin-right: 50%;
}
    .bbb{
display: grid;
grid-template-columns: auto auto;

}
#main{
    margin: 0px;
    padding: 0px;
}
.gridItem{
 /* margin-left: 50px;
margin-right: 50px; */
text-align: center;
padding: 20px;
margin: 15px;
border-radius: 10%;

}

}