
body{
    background-color: rgb(255, 255, 255);
}
#navigatbar{
    background-color: rgb(96, 139, 139);
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    
}
#imgg{

    border-radius: 100px;
    padding: 10px;
    margin-left: 50px;
    font-size: 100px;
    color: rgb(214, 147, 58);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;

}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#footer{
    background-color:hsl(0, 2%, 48%);
    /* position: fixed; */
    width: 100%;
    /* bottom: 0px; */
    padding: 20px;
    height: 120px;
}
#ptag p{
    font-size: 30px;
    display: flex;
   margin-left: 90%;
}
.bbb{
display: grid;
grid-template-columns: auto auto auto;
background-color: rgb(255, 255, 255);
gap: 10px;
margin-left: 5px;
margin-right: 5px;

margin: 50px;
}
.gridItem{
 margin-left: 50px;
margin-right: 50px;
text-align: center;
color: burlywood;
background-color: black;
padding: 5px;
margin: 50px;
border-radius: 20px;

}
.imgn{
    border-radius: 150px;
}