body{
    
}
#grid{

}
#nav{
   width: 100%;
   height: 500px;
    
background-image: url("https://safarin.net/wp-content/uploads/2023/03/23-03-08_20-59-50-850x539.jpg");
background-size: 100%;
 background-position: center;
display: flex;
background-repeat: no-repeat;
}
#nav h1{
    margin-left: 220px;
    margin-top: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    position: absolute;
}
#nav p{
margin-top: 120px;
margin-left: 350px;
font-size: large;
font-family: fantasy;

}
#nav ul{
   
    text-align: center;
    position: absolute;
    display: flex;
    margin-top: 60px;
    margin-left: 70%;
    list-style: none;
    gap: 80px;
}
#h1{
        margin-left: 120px;
    font-size: 55px;
    margin-top: 30px;
}
#main{
    display: grid;
grid-template-columns: auto auto auto;
gap: 100px;
margin-left: 180px;
margin-right: 100px;
margin-top: 50px;

}
 ul a{
    color:rgb(22, 136, 12) ;
    text-decoration: none;
    font-size: 25px;
}
.card{
    /* padding: 40px; */
width: 28rem;
h
}
#footer{
  margin-top: 50px;
    width: 100%;
height: 150px;
background-color: rgb(8, 8, 71);

}
#ptag{
    color: chocolate;
    font-size: 15px;
   margin-left: 20%;
}


@media screen and (max-width:600px){

    #nav{

    }


}