
#nav{
   width: 100%;
   height: 500px;
    
background-image: url("https://safarin.net/wp-content/uploads/2023/03/23-03-08_20-59-50-850x539.jpg");
background-size: 100%;
 background-position: center;
display: flex;
background-repeat: no-repeat;
}

#nav h1{
    margin-left: 90px;
    margin-top: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    position: absolute;
    background-color: #0d3b66;
    color: white;
    padding: 6px 14px;
    border-radius: 6px;
    font-weight: 700;
    letter-spacing: 1px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.3);

}
#nav p{
margin-top: 120px;
margin-left: 350px;
font-size: large;
color: rgba(255, 255, 255, 0.9);
  font-size: 20px;
  font-weight: 400;
  line-height: 1.6;
  text-shadow: 0 2px 6px rgba(0, 0, 0, 0.6);
  max-width: 420px;
  font-style: italic;
}
.spa{
    color: #ffd166;
    font-weight: 600;
}
#nav ul{
   
    text-align: center;
    position: absolute;
    display: flex;
    margin-top: 10px;
    margin-left: 73%;
    list-style: none;
    gap: 50px;
}
 ul a{
    color: #ffffff ; 
    text-decoration: none;
    font-size: 25px;
    font-weight: 500;
    text-shadow: 0 1px 3px rgba(0,0,0,0.6)
}
ul a:hover{
   color: #ffd166; 
}
#h1{
        margin-left: 120px;
    font-size: 55px;
    margin-top: 30px;
}
#main{
    display: grid;
grid-template-columns: auto auto auto;
gap: 100px;
margin-left: 180px;
margin-right: 100px;
margin-top: 50px;

}

    
.card{
    /* padding: 40px; */
width: 28rem;
}






@media screen and (max-width:600px){

#nav{
    height: auto;
}


  #nav ul {
    position: static;
    margin: 10px auto;
    justify-content: center;
    gap: 20px;
  }

  ul a {
    font-size: 16px;
  }

  #h1 {
    margin-left: 10;
    font-size: 28px;
    
  }

  #nav p {
    margin-left: 0;
    max-width: 90%;
    text-align: center;
    font-size: small;
  }
  #main{
     display: grid;
grid-template-columns: auto;
gap: 40px;
margin-left: 70px;
margin-right: 100px;
margin-top: 50px;


  }
  .card{
    /* padding: 40px; */
width: 20rem;

}
#easy{
    font-size: small;
}
}

@media screen and (max-width:900px){

#nav{
    height: auto;
}


  #nav ul {
    position: static;
    margin: 10px auto;
    justify-content: center;
    gap: 20px;
    margin-left: 40%;
  }

  ul a {
    font-size: 16px;
    
  }

  #h1 {
    margin-left: 10;
    font-size: 28px;
    
  }

  #nav p {
    margin-left: 100px;
color: black;
    max-width: 90%;
    text-align: center;
    font-size: small;
  }
  .spa{
    color: black;
  }
  #main{
     display: grid;
grid-template-columns: auto auto;
gap: 60px;
margin-left: 120px;
margin-right: 100px;
margin-top: 50px;


  }
  .card{
    /* padding: 40px; */
width: 18rem;

}
#easy{
    font-size: small;
}
}

